#for actually requesting data from Hypergryphs song API
requests
#for basic console output graphics
tqdm
#for audio file metadata tagging
mutagen

#for packaging into standalone CLI
pyinstaller

#unit test coverage
coverage

#Linting
pylint